﻿@model BirthdayManagerWeb.BundleConfig

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="">
            <h4>@ViewBag.Title</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="col-md-4">
                <form action="~/EditController/Create" method="post">
                    <div class="form-group">
                        <label for="txtName">Nome</label>
                        @Html.TextBox("Nome", null, new { @id = "txtName", @class = "form-control" })
                        @Html.ValidationMessage("FirstName", "Obrigatório")
                    </div>
                    <div class="form-group">
                        <label for="txtLastName">Sobrenome</label>
                        @Html.TextBox("Sobrenome", null, new { @id = "txtLastName", @class = "form-control" })
                        @Html.ValidationMessage("SecondName", "Obrigatório")
                    </div>
                    <div class="form-group">
                        <label for="birthDate">Data de Nascimento</label>
                        @Html.TextBox("Data de Nascimento", null, new { @id = "dtBirthDate", @class = "form-control" })
                        @Html.ValidationMessage("BirthDate", "Obrigatório")
                    </div>
                    <div class="form-group">
                        <input type="submit" id="btnSubmit" value="Criar" class="btn btn-primary" />
                        <input type="button" value="Cancelar" class="btn btn-secondary" onclick="@("window.location.href='" + @Url.Action("Index", "Home") + "'");" />
                    </div>
                </form>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
